
*.cache
IcelandTest/obj/*
.vs/IcelandTest/v16/.suo
IcelandTest/bin/Debug/*
IcelandTest_UnitTest/bin/Debug/*
IcelandTest_UnitTest/obj/Debug/*
.vs/IcelandTest/DesignTimeBuild/.dtbcache.v2
.vs/IcelandTest/v16/TestStore/*
